/* Navbar styles */
.navbar {
    background-color: #29293d; /* Dark purple background */
    padding: 1rem;
}

.logo {
    width: 100px; /* Set the width of the logo image */
    height: auto; /* Automatically adjust the height to maintain aspect ratio */
    transition: transform 0.3s ease;
}

/* Remove padding around the logo */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin-left: 1rem;
}

li:first-child {
    margin-left: 0;
}

a {
    color: #fff; /* White text color */
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    transition: color 0.3s ease;
}

a:hover {
    color: #ff4560; /* Magenta color on hover */
}

/* ApexNode logo animation on hover */
.logo:hover {
    transform: scale(1.1); /* Scale the logo image on hover */
}
