/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f7f7f7;
}

/* Navbar styles */
.navbar {
    background-color: #29293d;
    /* Dark background color */
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin-left: 1rem;
}

li:first-child {
    margin-left: 0;
}

a {
    color: #fff;
    /* White text color */
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    transition: color 0.3s ease;
}

a:hover {
    color: #ff4560;
    /* Magenta color on hover */
}

/* Hero section styles */
.hero {
    position: relative;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../public/mount_everest.jpg');
    background-size: cover;
    background-position: center;
}

/* Create an overlay with blur effect */
.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
}

.hero-content {
    position: relative;
    z-index: 1;
    text-align: center;
}

.hero-title {
    font-size: 4rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /* Add text shadow */
    color: #fff;
    /* White text color */
}

.hero-description {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /* Add text shadow */
    color: #fff;
    /* White text color */
}



.hero a:hover {
    background-color: #e63950;
    /* Slightly darker magenta on hover */
}


/* About section styles */
.about {
    background-color: #29293d;
    /* Dark purple background */
    padding: 4rem;
    color: #fff;
    /* White text color */
}

.about h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.about p {
    font-size: 1.2rem;
}

/* Features section styles */
.features {
    background-color: #29293d;
    /* Dark purple background */
    padding: 4rem;
    text-align: center;
    background-image: linear-gradient(to right, #29293d, #1c1c1c);
    /* Gradient background */
    color: #fff;
    /* White text color */
}

.features h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.feature-container {
    display: flex;
    justify-content: center;
}

/* CTA section styles */
.cta {
    background-color: #ff4560;
    /* Magenta background */
    padding: 4rem;
    text-align: center;
    background-image: linear-gradient(to right, #ff4560, #29293d);
    /* Gradient background */
}

.cta h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #fff;
    /* White text color */
}

/* Contact section styles */
.contact-section {
    background-color: #29293d;
    /* Dark purple background */
    padding: 4rem;
    text-align: center;
    color: #fff;
    /* White text color */
}

.contact-section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.contact-section p {
    font-size: 1.2rem;
}
