.navbar {
    background-color: #29293d; /* Dark background color */
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin-left: 1rem;
}

li:first-child {
    margin-left: 0;
}

a {
    color: #fff; /* White text color */
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    transition: color 0.3s ease;
}

a:hover {
    color: #ff4560; /* Magenta color on hover */
}
