/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f7f7f7;
}

/* Navbar styles */
.navbar {
    background-color: #29293d;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin-left: 1rem;
}

li:first-child {
    margin-left: 0;
}

a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    transition: color 0.3s ease;
}

a:hover {
    color: #ff4560;
}

/* Hero section styles */
.hero {
    position: relative;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../public/mount_everest.jpg');
    background-size: cover;
    background-position: center;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
}

.hero-content {
    position: relative;
    z-index: 1;
    text-align: center;
}

.hero-title {
    font-size: 4rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: #fff;
}

.hero-description {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: #fff;
}

/* About section styles */
.about {
    background-color: #e63950;
    padding: 4rem;
    color: #fff;
    background-image: linear-gradient(to bottom, rgba(230, 57, 80, 1) 0%, rgba(181, 23, 51, 1) 95%, rgba(121, 15, 34, 1) 100%);
    height: auto;
}

.about h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #fff;
    font-weight: bold;
}

.about p {
    font-size: 1.3rem;
    color: #fff;
}

/* Features section styles */
.features {
    background-color: #b51733;
    padding: 4rem;
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(181, 23, 51, 1) 0%, rgba(110, 20, 35, 1) 95%, rgba(88, 17, 29, 1) 100%);
    color: #fff;
    height: auto;
}

.features h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #fff;
    font-weight: bold;
}

.feature-container {
    display: flex;
    justify-content: center;
}

/* CTA section styles */
.cta {
    background-color: #6e1423;
    padding: 4rem;
    text-align: center;
    background-image: linear-gradient(to bottom, #6e1423, #29293d);
    height: auto;
}

.cta h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #fff;
    font-weight: bold;
}

/* Contact section styles */
.contact-section {
    background-color: #1c1c1c;
    padding: 4rem;
    text-align: center;
    color: #fff;
    height: auto;
}

.contact-section h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #fff;
    font-weight: bold;
}

.contact-section p {
    font-size: 1.3rem;
    color: #fff;
}
